<div class="resultat">
    <strong *ngFor="let resultat of resultats; let i = index">
        {{resultat.name}}
        <span class="text" *ngIf="resultat.type=='金'">({{resultat.type}})</span>
        <span class="text-success" *ngIf="resultat.type=='木'">({{resultat.type}})</span>
        <span class="text-primary" *ngIf="resultat.type=='水'">({{resultat.type}})</span>
        <span class="text-danger" *ngIf="resultat.type=='火'">({{resultat.type}})</span>
        <span class="text-warning" *ngIf="resultat.type=='土'">({{resultat.type}})</span>

        <span *ngIf="i!=2">
            ->
        </span>
    </strong>
</div>

<div class="resultat" *ngFor="let resultat of resultats">
    <h5>
        <span>{{resultat.name}}</span>
        <span class="text-danger" *ngIf="resultat.isLucky">(吉)</span>
        <span *ngIf="!resultat.isLucky">(凶)</span>
    </h5>
    <p [innerHTML]="resultat.description"></p>
</div>